@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
:root {
  --primary-color: rgba(42, 42, 253, 0.705);
  --text-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0px;
}
img {
  width: 100%;
}
/* navbar */
.navbar {
  background-color: var(--primary-color);
  color: var(--text-color);
  height: 70px;
}
.navbar .flex {
  justify-content: space-between;
}
/* showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  position: relative;
  color: var(--text-color);
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}
.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible;
}
.showcase-form {
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: column;
  padding: 60px;
  height: 350px;
  width: 400px;
  z-index: 100;
}
.showcase-form .form-control {
  margin: 30px 0;
}
.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: none;
  border-bottom: 1px solid gray;
  width: 100%;
  font-size: 1em;
  padding: 3px;
}
.showcase-form input:focus {
  outline: none;
}
.showcase-form .btn-primary {
  background-color: var(--primary-color);
  font-size: 1em;
  padding: 10px 25px;
}
.showcase::before,
.showcase::after {
  content: "";
  background-color: rgb(255, 255, 255);
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -webkit-transform: skewY(3deg);
}
/* stats */
.stats {
    padding-top: 100px;
}

.stats-heading {
    margin: 0 auto;
    background-color:rgba(42, 42, 253, 0.226);
    border-radius: 10px;
    letter-spacing: 1px;
}

.stats grid h3 {
  font-size: 35px;
}

.stats grid p {
  font-size: 20px;
  font-weight: bold;
}

/* CLI */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/* cloud */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}